*{
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.gallery{
    height: 100vh;
    width: 100%;
    display: flex;
    margin: 0 auto;
    padding: 50px;
    background: black;
    box-shadow: 0px 0px 30px black;
    gap: 20px;
}

.gallery-big-image{
    width: 100%;
    object-fit: cover;
    cursor: pointer;
}

.gallery-images{
    display: flex;
    flex-direction: column;
    max-width: 200px;
    gap: 20px;
}

.gallery-image{
    object-fit: cover;
    flex: 1;
    cursor: pointer;
    filter: grayscale(1);
    transition: 0.5s;
}

.gallery-image:hover{
    filter: grayscale(0);
}